.input-1{
    border: none;
    font-family: 'Nunito';
    width: 100%;
    height: 2.5rem;
    font-weight: 600;
}

.input-1:focus-visible{
    outline: none;
    border: none;
    box-shadow: none;
}

.input-1:focus{
    border: none;
    outline: none !important;
    box-shadow: none;
}

.input-group-1{
    font-weight: 600;
    font-family: 'Nunito';
}

.shadow-1{
    box-shadow: 4px 4px 13px -3px #00000040;
}
